body {
  background-image: url("grungebg.jpg");
  background-size: cover;
  color: #d6d6d6;
  margin: 0;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
      position:absolute; 
       
}
.bg{
 min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
   margin: 0;
  padding: 0px;
  position:  fixed;
  z-index: -100;
}
p {
  hyphens: auto;
}
/* --------Header nav ---------*/
nav {
  margin-top: 2vh;
  position: fixed;
  padding-left: 1vw;
  
}
/*aside{
background-color: black;
}*/
 nav img {
  width: 20vw;
}
ul {
  list-style: none;
  font-weight: 600;
  margin-top: 10px;
  padding: 0;
  text-align: center;
}
/*------Main Content-------*/
main {
  display: grid;
  grid-template-columns: 20vw 70vw 1vw;
  grid-gap: 4vh 4vw;
}
article {
  margin-top: 13vh;
}
section {
}
h2 {
  font-family: "Tangerine", cursive;
  text-align: justify;
}
section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}
section p {
  width: 66vw;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
section a {
  text-decoration: none;
  display: inline-block;
  color: #c3c3c3;
  cursor: pointer;
  word-spacing: 1em;
}
hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #c3c3c3,
    rgba(0, 0, 0, 0)
  );
}
/*Form*/
input[type="text"] {
  width: 20vw;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid grey;
}
input::placeholder {
  color: #f0f0f0;
  font-family: "Playfair Display", serif;
}
input[placeholder]:focus {
  color: #c3c3c3;
}
.button{
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  border: 2px solid grey;
  color:  #c3c3c3;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
.button:hover{
  background-color: grey;
  color:  black;
  cursor: pointer;
}
a:hover{
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}

article .button{
  padding: 4px 6px;
}
.more{
  float: right;
}

/*footer*/
footer{
  display: flex;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 2%,#646464 100%);
  width:auto ;
  height: 80px;
position: absolute; 
    left: 0 ; 
    right: 0; 
    bottom: 0px; 
justify-content: space-between;
align-items: center;
padding: 0 20px;
margin-bottom: -80px;
margin-top: auto;
}
footer a img{
  width: 40px;
}
footer a img:hover{
  background-image: url("b-github-logo.png");
}
