{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
<article>
            <h2> <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> </h2>
            <img src={{ post.picture }} />
        <p>{{ post.text|linebreaksbr }}</p>
        <a>#tags #tag2 </a>
        <a rel="#" href="{% url 'post_detail' pk=post.pk %}" class="more"><button type="" class="button">Read More...</button></a>
        <br>
        <hr>
         {{ post.published_date }}
        </article>
    
        
            
            <!--a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a-->
       
    {% endfor %}
{% endblock %}
       